*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f5f5f5;
}

.container-card{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.img-cat{
    display: flex;
   margin-right: 11px;
    width: 400px;
    height: 100%;
    object-fit: cover;
    width: 18rem;
    height: 20rem;
    border-radius: 2%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);


}
.content-img{
   width: 340px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 370px;
   background-color: rgb(0, 204, 255);
   margin: 10px;
   box-shadow: 8px 8px 8px rgb(27, 171, 255) ;
   cursor: pointer;
}

#btn-generate-character{
    padding: 10px 30px;
    margin-left: 920px;
    border-radius: 10px;
    color: white;
    background-color:rgb(0, 204, 255) ;
    cursor: pointer;
    margin-top: 20px;
}